<template>
    <br/>
    <button v-show="$parent.showhide" @click="showhideToggle" class="btn btn-sm btn-block btn-primary">{{ showhideText | capitalize}} Comments</button>
    <div class="row" v-show="showhide" >
        <div class="col-xs-12">
            <br/>
            <ul v-if="comments.length > 0" class="list-group">
                <li class="list-group-item" v-for="comment in comments">
                    <h5>{{ comment.username }} - {{ comment.created_at }}</h5>
                    <p class="list-group-item-text">{{{ comment.markdown | marked }}}</p>
                </li>
            </ul>
            <h2 v-if="comments.length <= 0">No comments yet!</h2>
        </div>
    </div>
</template>
<style>
    /* Consider constraining the comments heading sizes */
</style>
<script>
    var marked = require("marked");
    marked.setOptions({ghm: true});

    export default{
        props: ['comments'],
        filters: {
            marked: marked
        },
        data: function(){
            return {
                showhide: false
            }
        },
        computed: {
            showhideText(){
                if(this.showhide){
                    return "hide";
                }else{
                    return "show";
                }
            }
        },
        methods: {
            showhideToggle(){
                this.showhide = !this.showhide;
            }
        }
    }
</script>