<!-- Simple bootstrap panel to display the example guts, not parsing markdown yet -->
<template>
    <div class="panel" id="example-{{ example.id }}">
        <div class="panel-heading">
            <h1 @click="showhideToggle">
                <span class="glyphicon glyphicon-{{ showhideGlyph }}"></span>
                {{ example.title }}
                <span class="label label-primary pull-right">{{ example.upvotes}}</span>
            </h1>
        </div>
        <!-- Now we'll filter example.markdown through marked -->
        <div id="exampleMarkdown" class="panel-body" v-show="showhide">{{{ example.markdown | marked }}}</div>
        <div class="panel-footer">
            <p>Created by {{ example.username }} on {{ example.created_at }} last updated on {{ example.updated_at }}</p>
            <div>
                <span v-for="tag in example.tags" class="label label-primary" style="margin-right: 1em;">{{ tag.tag }}</span>
            </div>
            <comments :comments="example.comments"></comments>
        </div>
    </div>
</template>
<style>
</style>
<script>
    //Let's require marked,
    var marked = require("marked");
    //ghm: true means use Github Flavored Markdown
    //Github Flavored Markdown is the one-true-markdown, accept no substitutes
    marked.setOptions({ghm: true});

    //importing comments component
    import Comments from '../demoComponents/comments.vue';

    export default{
        components: {
            comments: Comments
        },
        props: {
            example: {
                type: Object,
                required: true
            },
            showhide: {
                type: Boolean,
                coerce: function(val){return val === "true";},
                default: true
            }
        },
        methods: {
            showhideToggle(){
                this.showhide = !this.showhide;
            }
        },
        computed: {
            showhideGlyph: function(){
                if(this.showhide){
                    return "triangle-bottom";
                }
                return "triangle-right";
            }
        },
        //Now let's make marked (which we just required) a filter
        //(marked just accepts a string as an argument and returns the formatted html)
        filters: {
            marked: marked
        }
    }
</script>