<template>
    <div class="page-links">
        <a v-if="currentpage > 2" @click.prevent="gotoPage(1)" href="#"><span class="glyphicon glyphicon-triangle-left"></span><span class="glyphicon glyphicon-triangle-left page-link-shift-left"></span>&nbsp;</a>
        <a v-if="currentpage > 1" @click.prevent="gotoPage(currentpage - 1)" href="#"><span class="glyphicon glyphicon-triangle-left">&nbsp;</span></a>
        <span v-for="page in pages">
            <a v-if="page != currentpage" @click.prevent="gotoPage(page)" href="#">{{ page }}&nbsp;&nbsp;</a>
            <span v-if="page == currentpage">{{ page }}&nbsp;&nbsp;</span>
        </span>
        <a v-if="currentpage < pagecount" @click.prevent="gotoPage(currentpage + 1)" href="#">&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-right"></span></a>
        <a v-if="pagecount - currentpage >= 1" @click.prevent="gotoPage(pagecount)" href="#">&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-right page-link-shift-right"></span><span class="glyphicon glyphicon-triangle-right"></span></a>
    </div>
</template>
<style>
    .page-links>span>a {
        font-size: 150%;
    }

    .page-links>span>span {
        font-size: 200%;
        color: #D70075;
    }

    .page-links>span>a:hover,.page-links>a {
        text-decoration:none;
    }

    .page-link-shift-left {
        margin-left: -8px
    }

    .page-link-shift-right {
        margin-right: -8px
    }
</style>
<script>
    export default{
        props: {
            currentpage: {
                required: true,
                coerce: function(val){return parseInt(val)}
            },
            pagecount: {
                required: true,
                coerce: function(val){return parseInt(val)}
            }
        },
        computed: {
            minShown: function(){
                if(this.currentpage >= 4){
                    return this.currentpage - 3;
                }else{
                    return 1;
                }
            },
            maxShown: function(){
                if(this.pagecount - this.currentpage >= 4){
                    return this.currentpage + 3;
                }else{
                    return this.pagecount;
                }
            },
            pages: function(){
                var pages = [];
                for(var i=this.minShown; i <= this.maxShown; i++){
                    pages.push(i);
                }
                return pages;
            }
        },
        methods: {
            gotoPage: function(page){
                this.$dispatch('gotoPage', page);
            }
        }
    }
</script>